@if (PageCount > 1)
{
    <Pagination>
        <PaginationItem Disabled="@(CurrentPage == 0)" @onclick="() => PageChanged(0)">
            <PaginationLink>
                <Span aria-hidden="true">
                    <Icon Name="IconName.ChevronLeft"/>
                    <Icon Name="IconName.ChevronLeft"/>
                </Span>
            </PaginationLink>
        </PaginationItem>
        <PaginationItem Disabled="@(CurrentPage == 0)" @onclick="() => PageChanged(CurrentPage - 1)">
            <PaginationLink>
                <Span aria-hidden="true">
                    <Icon Name="IconName.ChevronLeft"/>
                </Span>
            </PaginationLink>
        </PaginationItem>
        @for (var i = _startPage; i <= _endPage; i++)
        {
            var currentIndex = i;
            <PaginationItem Active="@(currentIndex == CurrentPage)" @onclick="() => PageChanged(currentIndex)">
                <PaginationLink Page="currentIndex">
                    <Span aria-hidden="true">
                        @(currentIndex + 1)
                    </Span>
                </PaginationLink>
            </PaginationItem>
        }
        <PaginationItem Disabled="@(CurrentPage == PageCount - 1)" @onclick="() => PageChanged(CurrentPage + 1)">
            <PaginationLink>
                <Span aria-hidden="true">
                    <Icon Name="IconName.ChevronRight"/>
                </Span>
            </PaginationLink>
        </PaginationItem>
        <PaginationItem Disabled="@(CurrentPage == PageCount - 1)" @onclick="() => PageChanged(PageCount - 1)">
            <PaginationLink>
                <Span aria-hidden="true">
                    <Icon Name="IconName.ChevronRight"/>
                    <Icon Name="IconName.ChevronRight"/>
                </Span>
            </PaginationLink>
        </PaginationItem>
    </Pagination>
}
