@page "/series/{seriesId:guid}/season/{seasonId:guid}/episode/{episodeId:guid}"
@layout MainLayout

@if (Episode is null)
{
    <LoadingComponent/>
}
else
{
    <PosterComponent ItemId="Episode.Id"/>

    <Div>
        @Episode.SeriesName
    </Div>
    <Div>
        @($"Season {Episode.ParentIndexNumber} - {Episode.IndexNumber}. {Episode.Name}")
    </Div>
    <Div>
        <Span>
            @Episode.PremiereDate?.ToString("d", CultureInfo.CurrentCulture)
        </Span>
        @if (Episode.RunTimeTicks is not null)
        {
            <Span>
                @TimeSpan.FromTicks(Episode.RunTimeTicks.Value).ToString(@"hh\:mm", CultureInfo.CurrentCulture)
            </Span>
            <Span>
                Ends at @DateTime.Now.AddTicks(Episode.RunTimeTicks.Value).ToString("h:mm tt", CultureInfo.CurrentCulture)
            </Span>
        }
    </Div>

    <Div>
        @Episode.Overview
    </Div>

    if (Episode.Chapters.Count != 0)
    {
        <Heading Size="HeadingSize.Is5">Chapters</Heading>
        <Row>
            @foreach (var chapter in Episode.Chapters)
            {
                <Span>
                    @chapter.Name - @TimeSpan.FromTicks(chapter.StartPositionTicks).ToString(@"mm\:ss")
                </Span>
            }
        </Row>
    }
}
