@page "/series/{seriesId:guid}/season/{seasonId:guid}/episode/{episodeId:guid}"
@layout MainLayout

@if (Episode is null)
{
    <LoadingComponent/>
}
else
{
    <PosterComponent ItemId="Episode.Id"/>

    <div>
        @Episode.SeriesName
    </div>
    <div>
        @($"Season {Episode.ParentIndexNumber} - {Episode.IndexNumber}. {Episode.Name}")
    </div>
    <div>
        <span>
            @Episode.PremiereDate?.ToString("d", CultureInfo.CurrentCulture)
        </span>
        @if (Episode.RunTimeTicks is not null)
        {
            <span>
                @TimeSpan.FromTicks(Episode.RunTimeTicks.Value).ToString(@"hh\:mm", CultureInfo.CurrentCulture)
            </span>
            <span>
                Ends at @DateTime.Now.AddTicks(Episode.RunTimeTicks.Value).ToString("h:mm tt", CultureInfo.CurrentCulture)
            </span>
        }
    </div>

    <div>
        @Episode.Overview
    </div>

    if (Episode.Chapters.Count != 0)
    {
        <span>Episodes</span>
        <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-10 2xl:grid-cols-12">
            @foreach (var chapter in Episode.Chapters)
            {
                <span>@chapter.Name - @TimeSpan.FromTicks(chapter.StartPositionTicks).ToString(@"mm\:ss")</span>
            }
        </div>
    }

    <div>
    </div>
}
