@page "/series/{seriesId:guid}/season/{seasonId:guid}/episode/{episodeId:guid}"
@layout MainLayout

@if (Episode is null)
{
    <LoadingComponent/>
}
else
{
    <PosterComponent ItemId="Episode.Id"/>

    <div>
        @Episode.SeriesName
    </div>
    <div>
        @($"Season {Episode.ParentIndexNumber} - {Episode.IndexNumber}. {Episode.Name}")
    </div>
    <div>
        <span>
            @Episode.PremiereDate?.ToString("d", CultureInfo.CurrentCulture)
        </span>
        @if (Episode.RunTimeTicks is not null)
        {
            <span>
                @TimeSpan.FromTicks(Episode.RunTimeTicks.Value).ToString(@"hh\:mm", CultureInfo.CurrentCulture)
            </span>
            <span>
                Ends at @DateTime.Now.AddTicks(Episode.RunTimeTicks.Value).ToString("h:mm tt", CultureInfo.CurrentCulture)
            </span>
        }
    </div>
}

