@page "/login"
@attribute [AllowAnonymous]

@if (_initializing)
{
    <LoadingComponent/>
}
else
{
    <Row Flex="Flex.JustifyContent.Center">
        <Column ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop" Flex="Flex.AlignSelf.Center">
            <Card Margin="Margin.Is4.OnY" TextColor="TextColor.White" Background="Background.Dark">
                <CardHeader Flex="Flex.JustifyContent.Center">
                    <Image Source="_content/Jellyfin.Blazor.Shared/images/jellyfin-banner-dark.svg" Width="Width.Is50" Flex="Flex.AlignSelf.Center"/>
                </CardHeader>
                <CardBody>
                    <Validations @ref="_validations" Mode="ValidationMode.Manual">
                        <Validation Validator="@ValidationRule.IsNotEmpty">
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@Text.LoginHost</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                    <TextEdit
                                        Role="TextRole.Url"
                                        Placeholder="@Text.LoginHostPlaceholder"
                                        @bind-Text="@_loginPageModel.Host">
                                        <Feedback>
                                            <ValidationError>Host is required</ValidationError>
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation Validator="@ValidationRule.IsNotEmpty">
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@Text.LoginUsername</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                    <TextEdit
                                        Role="TextRole.Text"
                                        Placeholder="@Text.LoginUsername"
                                        @bind-Text="@_loginPageModel.Username">
                                        <Feedback>
                                            <ValidationError>Username is required</ValidationError>
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@Text.LoginPassword</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                <TextEdit
                                    Role="TextRole.Password"
                                    Placeholder="@Text.LoginPassword"
                                    @bind-Text="@_loginPageModel.Password"/>
                            </FieldBody>
                        </Field>
                        <Field Horizontal="true" Flex="Flex.JustifyContent.Center">
                            <Button Color="Color.Primary" Clicked="@HandleLogin" Loading="@_loading" Width="Width.Max100" TextAlignment="TextAlignment.Center">
                                <LoadingTemplate>
                                    <LoadingComponent/>
                                </LoadingTemplate>
                                <ChildContent>
                                    @Text.LoginButton
                                </ChildContent>
                            </Button>
                        </Field>

                        @if (!string.IsNullOrEmpty(_error))
                        {
                            <Div TextColor="TextColor.Danger">
                                @_error
                            </Div>
                        }
                    </Validations>
                </CardBody>
            </Card>
        </Column>
    </Row>
}
