@page "/series/{itemId:guid}"
@layout MainLayout

@if (Series is null)
{
    <LoadingComponent/>
}
else
{
    <PosterComponent ItemId="Series.Id"/>

    <Div>
        @Series.Name
        @if (Series.ProductionYear is not null)
        {
            <Div>@Series.ProductionYear</Div>
        }
    </Div>

    <Div>
        @Series.Overview
    </Div>

    <Div Margin="Margin.Is5.FromTop">
        Favorite: @Series.UserData.IsFavorite
        Watched: @Series.UserData.Played
    </Div>

    <Div>
        @if (NextUp is not null)
        {
            <Span>Next Up</Span>

            <Column ColumnSize="ColumnSize.Is2.Is3.OnTablet.Is4.OnWidescreen.Is6.OnFullHD">
                <NextUpCardComponent Item="NextUp"/>
            </Column>
        }
    </Div>

    <Div>
        @if (Seasons.Count != 0)
        {
            <Span>Seasons</Span>
            foreach (var season in Seasons)
            {
                <Column ColumnSize="ColumnSize.Is2.Is3.OnTablet.Is4.OnWidescreen.Is6.OnFullHD">
                    <PrimaryCardComponent Item="season" ShowParentName="false"/>
                </Column>
            }
        }
    </Div>
}
